extends ../base.pug

block contents 
  video(src="/"+video.fileURL, controls)
  h2=video.title
  h3 description: #{video.description}
  each hashtag in video.hashtags
    p #{hashtag}
  small #{video.createdAt} | created by 
  small
    a(href="/user/" + String(video.owner._id)) #{video.owner.username}
  if (loggedIn)
    if loggedInUser._id === video.owner._id
      br
      a(href=`${video.id}/edit`)
        button Edit video &rarr;
      br
      a(href=`${video.id}/delete`) 
        button Delete video &rarr;
