extends ../base.pug

block contents 
  video(src="/"+video.fileURL, controls)
  h2=video.title
  h3 description: #{video.description}
  each hashtag in video.hashtags
    p #{hashtag}
  small #{video.createdAt} | created by #{owner.username}
  if (loggedIn)
    if String(loggedInUser._id) === String(video.owner)
      br
      a(href=`${video.id}/edit`)
        button Edit video &rarr;
      br
      a(href=`${video.id}/delete`) 
        button Delete video &rarr;
