extends base.pug

block contents 
  h2=video.title
  h3 description: #{video.description}
  each hashtag in video.hashtags
    p #{hashtag}
  p=video.createdAt
  a(href=`${video.id}/edit`) >edit
  br
  a(href=`${video.id}/delete`) >delete video
